.orders {
  min-height: 100vh;
  padding: 30px 30px 20px;
  background-color: $bg-grey-color;
  border-radius: 40px;
  color: $text-orders-grey-color;
  font-size: 14px;
  &__buttons-box {
    width: 730px;
    height: 50px;
    background-color: $bg-darkgrey-color;
    border-radius: 30px;
  }
  &__button {
    border: none;
    background-color: transparent;
    padding: 0 45px;
    border-radius: 30px;
    color: $text-orders-grey-color;
    font-weight: bold;
    outline: none;
    transition: background-color, transform 0.3s;
    &:hover {
      background-color: #fff;
      transform: scale(1.02);
    }
    &:focus {
      outline: none;
    }
    &-active {
      background-color: #fff;
      color: $text-btn-active-grey-color;
      transform: scale(1.02);
      outline: none;
    }
    &-progress {
      position: relative;
      &:before {
        @include btn-before($bg-red-btn-color);
      }
    }
    &-ready {
      position: relative;
      &:before {
        @include btn-before($bg-green-btn-color);
      }
    }
    &-downloaded {
      position: relative;
      &:before {
        @include btn-before($bg-blue-btn-color);
      }
    }
  }
  &__select-box {
    &:before {
      content: "";
      position: absolute;
      top: 35%;
      right: 15px;
      width: 8px;
      height: 5px;
      background: url(../images/arrow-top.png);
    }
    &:after {
      content: "";
      position: absolute;
      top: 55%;
      right: 15px;
      width: 8px;
      height: 5px;
      background: url(../images/arrow-bottom.png);
    }
  }
  &__show {
    font-size: 14px;
    &:before {
      content: "";
      position: absolute;
      top: -10px;
      left: -15px;
      height: 40px;
      width: 1px;
      background-color: $text-orders-grey-color;
    }
  }
  &__select {
    height: 100%;
    width: 85px;
    padding-left: 30px;
    border-radius: 30px;
    appearance: none;
    cursor: pointer;
    &:focus {
      outline: none;
    }
  }
  &__copyright {
    width: 320px;
    margin: 70px auto 20px;
    color: #8caec8;
  }
}

.order-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  padding: 0 30px;
  margin-bottom: 30px;
  background-color: #fff;
  border-radius: 30px;
  font-weight: 600;
  &-top {
    margin-bottom: 0;
    background-color: transparent;
  }
  &__images {
    min-width: 105px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__box {
    right: 5px;
    position: relative;
  }
  &__photo {
    position: absolute;
  }
  &__photo:nth-child(1) {
    top: -5px;
    left: -12px;
    transform: translateY(-50%);
  }
  &__photo:nth-child(2) {
    top: 50%;
    left: -6px;
    transform: translateY(-50%);
  }
  &__photo:nth-child(3) {
    top: 5px;
    left: 0;
    transform: translateY(-50%);
  }
  &__number {
    min-width: 105px;
    font-weight: bold;
    text-decoration: underline;
    cursor: pointer;
    transition: color 0.3s;
    &:hover {
      color: $bg-darkblue-color;
    }
    &-top {
      position: relative;
      font-weight: bold;
      text-decoration: none;
      color: $bg-darkblue-color;
      &:after {
        content: "";
        position: absolute;
        top: 50%;
        right: -15px;
        transform: translateY(-50%);
        width: 8px;
        height: 8px;
        background: url(../images/product-arrow.png) no-repeat center;
      }
    }
  }
  &__shape {
    min-width: 65px;
    &-top {
      color: $bg-darkblue-color;
    }
  }
  &__unit-price {
    min-width: 252px;
    &-top {
      color: $bg-darkblue-color;
    }
  }
  &__address {
    color: #b3bbc8;
  }
  &__date {
    min-width: 70px;
    &-top {
      color: $bg-darkblue-color;
    }
  }
  &__subtotal {
    min-width: 60px;
    &-top {
      color: $bg-darkblue-color;
    }
  }
  &__comment {
    min-width: 70px;
    text-align: center;
    cursor: pointer;
    transition: transform 0.3s;
    &:hover {
      transform: scale(1.1);
    }
    &-top {
      color: $bg-darkblue-color;
      cursor: auto;
    }
  }
  &__status {
    min-width: 145px;
    height: 30px;
    line-height: 30px;
    color: #fff;
    border-radius: 20px;
    text-align: center;
    font-weight: 400;
    font-size: 13px;
    &-top {
      color: $bg-darkblue-color;
      font-size: 14px;
      font-weight: 600;
    }
    &-inprogress {
      background-color: $bg-red-btn-color;
    }
    &-ready {
      background-color: $bg-green-btn-color;
    }
    &-downloaded {
      background-color: $bg-blue-btn-color;
    }
  }
  &__edit {
    position: relative;
    border: none;
    background-color: transparent;
    &-top {
      visibility: hidden;
    }
    &:focus {
      outline: none;
    }
    &:after {
      content: "";
      position: absolute;
      top: -14px;
      left: 0;
      width: 18px;
      height: 20px;
      background: url(../images/edit.png) no-repeat center;
    }
  }
}

@media (max-width: 1480px) {
  .orders {
    font-size: 12px;
  }
  .order-item__number-top {
    &:after {
      right: 5px;
    }
  }
}
