$bg-darkblue-color: #16283a;
$bg-grey-color: #eff3f6;
$bg-darkgrey-color: #e2e7eb;

$bg-red-btn-color: #f76c83;
$bg-green-btn-color: #5fd773;
$bg-blue-btn-color: #5fcad7;

$text-grey-color: #5e6d84;
$text-orders-grey-color: #5f718d;
$text-btn-active-grey-color: #222c3b;
